@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.headerNavLink {
    @apply block py-2 pr-4 pl-3 text-gray-800 hover:text-primaryYellow rounded duration-300 md:p-0 dark:text-white;
}

.cart-btn {
    @apply py-2 px-4 mx-2 bg-siteGray-400 text-white border-0 text-sm rounded-sm hover:bg-primaryYellow duration-300;
}
